<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liansu.boduowms">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.outstock.SalesOutstock.OutstockSalesConfig" android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".modules.menu.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".modules.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.print.DeviceListActivity" />
        <activity android:name=".modules.pallet.combinePallet.CombinPallet" />
        <activity android:name=".modules.pallet.disCombinePallet.DismantlePallet" />
        <activity android:name=".modules.instock.baseOrderBusiness.bill.BaseOrderBillChoice" />
        <activity android:name=".modules.instock.baseOrderBusiness.scan.BaseOrderScan" />
        <activity android:name=".modules.instock.baseOrderBusiness.upshelf.bill.UpShelfBillChoice" />
        <activity android:name=".modules.instock.baseOrderBusiness.upshelf.scan.UpShelfScanActivity2" />
        <activity android:name=".modules.qualityInspection.randomInspection.scan.QualityInspection" />
        <activity android:name=".modules.outstock.offScan.DistributionOffShelf" />
        <activity android:name=".modules.outstock.packingScan.PackingScan" />
        <activity android:name=".modules.outstock.baseOutStockBusiness.baseReviewScan.BaseReviewScan" />
        <activity android:name=".modules.outstock.logisticsLoading.setting.LogisticsLoadingSetting" />
        <activity
            android:name=".ui.dialog.MaterialInfoDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyDialogStyle" />
        <activity android:name=".modules.instock.combinePallet.InstockCombinePallet" />
        <activity android:name=".modules.instock.baseOrderBusiness.upshelf.scan.UpShelfScan" />
        <activity android:name=".modules.inventoryMovement.InventoryMovementScan" />
        <activity android:name=".modules.qualityInspection.bill.QualityInspectionBill" />
        <activity android:name=".modules.qualityInspection.qualityInspectionProcessing.QualityInspectionProcessingScan" />
        <activity android:name=".modules.instock.productStorage.bill.ProductStorageBillChoice" />
        <activity android:name=".modules.instock.productStorage.scan.ProductStorageScan" />
        <activity android:name=".modules.instock.salesReturn.print.SalesReturnPrint" />
        <activity android:name=".modules.instock.salesReturn.bill.SalesReturnBillChoice" />
        <activity android:name=".modules.instock.salesReturn.scan.SalesReturnStorageScan" />
        <activity android:name=".modules.instock.noSourceOtherStorage.scan.NoSourceOtherScan" />
        <activity android:name=".modules.print.LabelReprint.LabelReprintScan" />
        <activity android:name=".modules.qualityInspection.bill.QualityInspectionMainActivity" />
        <activity android:name=".modules.qualityInspection.randomInspection.bill.RandomInspectionBill" />
        <activity android:name=".modules.instock.productStorage.printPalletScan.PrintPalletScan" />
        <activity android:name=".modules.outstock.baseOutStockBusiness.offScan.BaseOutStockBusiness" />
        <activity
            android:name=".modules.outstock.offScan.BalconyInfoDialogActivity"
            android:theme="@style/MyDialogStyle" />
        <activity android:name=".modules.outstock.packingScan.packingList.PackingList" />
        <activity
            android:name=".modules.setting.SettingMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".modules.outstock.purchaseInspection.offScan.scan.PurchaseInspectionProcessingScan" />
        <activity android:name=".modules.outstock.purchaseInspection.offScan.bill.PurchaseInspectionBill" />
        <activity android:name=".modules.menu.outboundBusiness.subMenu.OutboundBusinessSubMenu" />
        <activity android:name=".modules.outstock.purchaseReturn.offscan.PurchaseReturnOffScan" />
        <activity android:name=".modules.outstock.SalesOutstock.SalesOutstock" android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".modules.outstock.SalesOutstock.SalesOutStockBox"  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".modules.outstock.SalesOutstock.SalesOutStockBoxList"  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".modules.outstock.SalesOutstock.SalesOutReview" android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".modules.instock.productionReturnsStorage.print.ProductionReturnsPrint" />
        <activity android:name=".modules.instock.productionReturnsStorage.scan.ProductionReturnStorageScan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.liansu.boduowms.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>